{% extends 'index.html' %}

{% block title %}
App clock hands angle calc
{% endblock %}

{% block body %}

<p class="lead text-muted text-sm-start">
  Calc the angle&#128208;between the minute and hour hands of the clock
</p>

<canvas id="canvas" width="200" height="200" style="background-color:rgb(74, 74, 74)">
</canvas>

<p>
  Time: <span id="time_now"></span>,
  the angle&#128208;between the minute and hour hands = <span id="angle_now"></span>°
</p>

<p>
  You can calculate the angle&#128208;between the hands for any time by entering the hours and minutes below:
</p>

<iframe name="noreload" title="noreload" style="display:none;"></iframe>
<form onsubmit="return false" class="row g-3" target="noreload" name="iwform">
  <div class="col-md-4">
    <label for="hour" class="form-label">Enter Hour</label>
    <input type="number" class="form-control" id="hour" required placeholder="Enter Hour between 0 and 23" min="0"
      max="23">
  </div>
  <div class="col-md-4">
    <label for="minute" class="form-label">Enter minute</label>
    <input type="number" class="form-control" id="minute" required placeholder="Enter minute between 0 and 59" min="0"
      max="59">
  </div>


  <div class="col-12">
    <button type="submit" class="btn btn-primary send__data__btn">Calculate</button>
  </div>
</form>
<br>
<p><span id="response"></span></p>

<script src="{{url_for('static', filename='script_clock_hand_angle.js')}}" type="text/javascript" charset="UTF-8"></script>


{% endblock %}