{% extends 'index.html' %}

{% block title %}
App "The Ideal Weight"
{% endblock %}

{% block body %}

<p class="lead text-muted text-sm-start">
    Расчет идеального веса по формуле Брока. Формула была предложена французским антропологом Полем Броком. Наиболее
    простая формула для расчета — вес равен росту минус коэффициент. При росте до 165 см коэффициент равен 100, до 175
    см — 105, выше 175 см — 110. В формуле можно учесть возраст: для 20–30 летних вес должен быть уменьшен примерно на
    11%, для людей после 50 — увеличен примерно на 6%. В формуле можно учесть тип телосложения человека — астенический
    (тонкокостный),
    нормостенический (нормокостный) и гиперстенический (ширококостный). Тип телосложения определяют по обхвату запястья
    рабочей руки. Для женщин
    астенический тип — обхват менее 16 см, нормостенический — 16–18 см, больше — гиперстенический. Для мужчин
    астенический тип — обхват менее 17 см, нормостенический — 17–20 см, больше — гиперстенический. Соответственно, для
    астенического типа вес надо уменьшить примерно на 10%, для гиперстенического — увеличить.
    Оригинал https://planetcalc.ru/35/
</p>
<iframe name="noreload" title="noreload" style="display:none;"></iframe>
<form class="row g-3" target="noreload" name="iwform">
    <div class="col-md-4">
        <label for="user_height" class="form-label">Ваш рост</label>
        <input type="number" class="form-control" id="user_height" required
            placeholder="Введите Ваш рост в см от 120 до 220" min="120" max="220">
    </div>
    <div class="col-md-4">
        <label for="user_hand" class="form-label">Укажите длину запястья</label>
        <input type="number" class="form-control" id="user_hand" required placeholder="В среднем от 16 до 20 см"
            min="10" max="30">
    </div>
    <div class="col-md-4">
        <label for="user_age" class="form-label">Введите возраст</label>
        <input type="number" class="form-control" id="user_age" required placeholder="Введите Ваш возраст, лет" min="20"
            max="99">
    </div>
    <div class="col-md-4">
        <label for="user_sex" class="form-label">Выберете пол</label>
        <select id="user_sex" class="form-select" required>
            <!-- <option selected="">М или Ж...</option> -->
            <option>м</option>
            <option>ж</option>
        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary send__data__btn">Calculate</button>
    </div>
</form>
<br>
<p><span id="response"></span></p>

<script src="{{url_for('static', filename='script_ideal_weight.js')}}" type="text/javascript" charset="UTF-8"></script>



{% endblock %}