{% extends 'index.html' %}



{% block title %}
Home page
{% endblock %}


{% block body %}

<div class="jumbotron card bg-light my-1">
	<div class="container">
		<h1 class="display-6">StockAnalyzeVolume app!</h1>
		<p>This simple program searches for stocks included in the <a
				href="https://en.wikipedia.org/wiki/List_of_S%26P_500_companies" target="_blank">S&P 500</a> index for a
			surge of the largest horizontal
			volumes on the daily price chart, followed by the calculation of the price level (minimum and maximum),
			where this volume is located.</p>
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-auto">
					<ul>
						<li>First we find the horizontal volume spike (1).</li>
						<li>Then we calculate the price level (2).</li>
						<li>We draw a graph where the search results are marked with lines:</li>
					</ul>
				</div>
				<div class="col-sm-9 col-lg-6 col-xl-6">
					<div class="text-xl-center">
						<img src="{{url_for('static', filename='ibm.png')}}" class="img-fluid" alt="IBM" width="342"
							height="245">
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="text-center">
			<p><a href="https://github.com/i5ilya/StockAnalyzeVolume/tree/master" class="btn btn-primary"
					target="_blank">For description go to github</a></p>
		</div>
	</div>
</div>



<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 my-1">
	<div class="col">
		<div class="card bg-light h-100 text-center">
			<span style='font-size:50px;'>&#128116;</span>
			<div class="card-body d-flex flex-column">
				<h5 class="card-title">App: The Age</h5>
				<p class="card-text">This is a very simple app.</p>
				<a href="app_the_age" class="align-self-center mt-auto btn btn-primary stretched-link">Go to app</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card bg-light h-100 text-center">
			<span style='font-size:50px;'>&#129373;</span>
			<div class="card-body d-flex flex-column">
				<h5 class="card-title">App ideal weight</h5>
				<p class="card-text">Ideal weight calculator using Paul Broca formula</p>
				<a href="app_ideal_weight" class="align-self-center mt-auto btn btn-primary stretched-link">Go to
					app</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card bg-light h-100 text-center">
			<!-- <img src="..." class="card-img-top" alt="..."> -->
			<span style='font-size:50px;'>&#9200;</span>
			<div class="card-body d-flex flex-column">
				<h5 class="card-title">App clock hands angle&#128208;calc</h5>
				<p class="card-text">Calc the angle between the minute and hour hands of the clock</p>
				<a href="app_clock_hand_angle_calc" class="align-self-center mt-auto btn btn-primary stretched-link">Go
					to app</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card bg-light h-100 text-center">
			<span style='font-size:50px;'>&#128679;</span>
			<!-- <img src="..." class="card-img-top" alt="..."> -->
			<div class="card-body d-flex flex-column">
				<h5 class="card-title">Under construction</h5>
				<p class="card-text">Under construction</p>
				<a href="#" class="align-self-center mt-auto btn btn-primary stretched-link">Go somewhere</a>
			</div>
		</div>
	</div>

</div>
{% endblock %}