{% extends 'index.html' %}

{% block title %}
App Words
{% endblock %}

{% block body %}
<iframe name="noreload" title="noreload" style="display:none;"></iframe>
<form onsubmit="return false" class="row g-3" target="noreload" name="iwform">
    <div class="mb-3">
        <label for="some_text" class="form-label lead text-muted">Count Word Frequency. Enter your text below, then
            press "Calculate": </label>
        <textarea class="form-control shadow p-3 bg-body rounded" id="some_text" rows="4" required
            placeholder="Enter some text here" required>
This is the house that Jack built.
This is the malt that lay in the house that Jack built.
This is the rat that ate the malt
That lay in the house that Jack built.</textarea>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary send__data__btn">Calculate</button>
    </div>
</form>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
    <p><ins>Total words</ins>: <span class="fw-bold" id="sum_all_words"></span></p>
    <p><ins>Number of punctuation marks</ins>: <span class="fw-bold" id="sum_punctuation"></span></p>
    <p><ins>Number of unique words</ins>: <span class="fw-bold" id="sum_unique_words"></span></p>
    <p><ins>Words that only repeat once</ins>: <span id="list_one_word"></span></p>
</div>

<ul id="dic" class="list-group list-group-numbered shadow bg-body rounded">
</ul>

<script src="{{url_for('static', filename='script_app_words.js')}}" type="text/javascript" charset="UTF-8"></script>

{% endblock %}